<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>BLOG</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:insert="Blocks/navbar :: navbar"/>
<div>

  <div th:each="el : ${post}">
    <h1 th:text="${el.title}"></h1>
    <p th:text="${el.full_text}"></p>
    <p th:text="${el.views}"></p>

    <form th:action="'/blog/'+ ${el.id} + '/edit'" method="get">
      <button type="submit"> Edit post</button>
      <br><br>
    </form>

    <form th:action="'/blog/' + ${el.id} + '/remove'" method="post">
      <button type="submit"> Remove post</button>
    </form>
  </div>
</div>
<div th:insert="Blocks/footer :: footer"/>

</body>
</html>