<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title style="background-color: darkcyan">Блог сайта</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<header th:insert = "Blocks/header :: header"/>
<div class="container mt-5">
  <h1>Блог сайта</h1>
  <div th:each="el : ${posts}" class="alert alert-info mt-2">
    <h3 th:text="${el.title}"/>
    <p th:text="${el.anons}"/>
    <p style="font-weight: bold" >Просмотры: <b style="font-weight: lighter" th:text="${el.views}"></b></p>
    <a th:href="'/blog/'+ ${el.id}" class="btn btn-warning">Детальнее</a>
  </div>
</div>
<div th:insert = "Blocks/footer :: footer"/>

</body>
</html>