<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<link rel="stylesheet" href="/static/style.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

<div th:insert="Blocks/styleForm :: styleForm"/>

</head>
<div style="margin-left: 10%; margin-top: 20pt">
  <button class="glow-on-hover" ><a style="text-decoration: none; color: #00eed5" href="/" class="nav-link">Home</a></button>
</div>
<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<body>
  <form th:action="@{/login}" method="post">
    <h2>Authorization</h2>
   <label> User Name : </label>
             <input type="text" name="username"/>
       <label > Password: </label>
        <input type="password" name="password"/>
              <button type="submit" class="glow-on-hover" style="color: #ffdf00; margin-left: 60pt;margin-top: 10pt">Log in</button>

      <button class="glow-on-hover" style="margin-left: 60pt;margin-top: 10pt" ><a style="text-decoration: none; color: #48ff00"
                                                                href="/registration">Registration</a></button>

      <button class="glow-on-hover" style="margin-left: 60pt;margin-top: 10pt" ><a style="text-decoration: none; color: #00eed5"
                                                                href="/user">List of users</a></button>

    <div style="margin-left: 20pt" th:if="${param.error}">
      Invalid username or password.
    </div>
    <div style="margin-left: 40pt" th:if="${param.logout}">
      You have been logged out.
    </div>
  </form>
</body>
</html>
