<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User List</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div th:insert="Blocks/navbar :: navbar"/>
<div class="container3">
   <h1 style="text-align: center; font-size: 50pt; text-color: #04041e; font-family: ‘Lobster’, cursive; font-weight: bolder">User List</h1>
  <table>
    <div th:each="el : ${users}">
      <tr>
        <th><p th:text="${el.username}"/></th>
        <th><label>User role <input type="text" th:value="${el.roles}"></label></th>
        <th><a th:href="'/user/'+ ${el.id}">Edit</a></th>
      </tr>

    </div>
  </table>
</div>
<div th:insert="Blocks/footer :: footer"/>

</body>
</html>