<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit users</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:insert="Blocks/navbar :: navbar"/>
<div class="container3">
  <h1>USER EDIT</h1>
  <div th:each="el : ${user}">
    <form method="post">
      <input type="text" th:value="${el.username}" name="username" placeholder="new username"> <br><br>
      <input type="text" th:value="${el.password}" name="password" placeholder="new password"> <br><br>
      <list>


      <div><label>User role <input type="text" th:value="${el.roles}">
        <input type="checkbox" th:value="${el.roles}">
      </label>
      </div>
      </list>
      <br><br>
      <button type="submit">Update</button>
    </form>
    <br>
    <form th:action="'/user/' + ${el.id} + '/remove'" method="post">
      <button type="submit"> Delete</button>
    </form>
  </div>
</div>
<br><br><br><br>
</div>
<div th:insert="Blocks/footer :: footer"/>

</body>
</html>