<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title style="background-color: #77ea0c">Edit users</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<header th:insert="Blocks/header :: header"/>
<div class="container mt-5 mb-5">
  <h1>Edit users</h1>
   <div th:each="el : ${user}">
    <form method="post">
      <p>enter new name for  </p>
      <h3 th:text="${el.username}"/>
      <input type="text" th:value="${name}" name="username"> <br><br>
      <button type="submit" class="btn btn-success">Обновить</button>
       <br><br><br>
    </form>
  </div>
</div>
<div th:insert="Blocks/footer :: footer"/>

</body>
</html>